<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazing - Admin</title>
</head>
<body>
    <%- include("../partials/navbar-admin") %>
    <h1>Home Admin</h1>
    <h2>List Product</h2>
    <form action="/admin" method="get">
        <input type="text" name="search" placeholder="Product Name">
        <button type="submit">Search</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>ImageURL</th>
                <th>Category</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% listProducts.forEach((el, idx) => { %>
                <tr>
                    <td><%= idx + 1 %></td>
                    <td><%= el.name %></td>
                    <td><%= el.description %></td>
                    <td><%= Product.formatPriceToIDR(el.price) %></td>
                    <td><%= listProducts[idx].stockFormat() %></td>
                    <td><img src="<%= el.imageUrl %>" width="80px" height="100px"></td>
                    <td><%= el.Category.name %></td>
                    <td><%= formattedDate(el.createdAt) %></td>
                    <td><%= formattedDate(el.updatedAt) %></td>
                    <td>
                        <a href="/admin/edit/<%= el.id %>"><button>Edit Product</button></a>
                        <a href="/admin/delete/<%= el.id %>"><button>Delete Product</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>