<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Amazing - Order List</title>
</head>
<body>
    <%- include("../partials/navbar-customer") %>
    <% if (listOrders.length === 0) { %>
        <h1>You have not purchased an item yet!</h1>
    <% } else { %>
        <h1>List of <%= usernameSession %> orders</h1>
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr class="text-center">
                    <th>No.</th>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Buyed Stock</th>
                    <th>Order Status</th>
                    <th>Total Bill</th>
                </tr>
            </thead>
            <tbody>
                <% listOrders.forEach((el, idx) => { %>
                    <tr class="text-center">
                        <td><%= idx + 1 %></td>
                        <td><img src="<%= el.Product.imageUrl %>" width="80px" height="100px"></td>
                        <td><%= el.Product.name %></td>
                        <td><%= el.buyStock %></td>
                        <td><%= el.formattedOrderStatus %></td>
                        <td><%= Product.formatPriceToIDR(el.Product.price * el.buyStock) %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
</html>