<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Amazing - Home</title>
</head>
<body>
    <%- include("../partials/navbar-customer") %>
    <% if (listProducts.length === 0) { %>
        <h1 class="text-center">We are not quite ready yet, We're sorry</h1>
    <% } else { %>
        <h1 class="text-center">List Product</h1>
        <form action="/customer" method="get" class="text-center">
            <input type="text" name="search" placeholder="Product Name" style="width: 60%;">
            <button type="submit">Search</button>
        </form>
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr class="text-center">
                    <th>No.</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Added Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% listProducts.forEach((el, idx) => { %>
                    <tr class="text-center">
                        <td><%= idx + 1 %></td>
                        <td><img src="<%= el.imageUrl %>" width="80px" height="100px"></td>
                        <td><%= el.name %></td>
                        <td><%= el.description %></td>
                        <td><%= Product.formatPriceToIDR(el.price) %></td>
                        <td><%= listProducts[idx].stockFormat() %></td>
                        <td><%= el.Category.name %></td>
                        <td><%= formattedDate(el.createdAt) %></td>
                        <td>
                            <% if (el.stock === 0) { %>
                                <a href="#"><button class="btn btn-info">Item will be restocked shortly</button></a>
                            <% } else { %>
                                <a href="/customer/buy/<%= el.id %>"><button class="btn btn-success">Buy Product</button></a>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
</html>